@import "../../styles/defaults";
.card {
  text-transform: capitalize;

  &-description {
    min-width: 150px;
    padding: $padding;
    border-radius: $border-radius;
    background-color: $Dark-blue;
    transition: background-color 0.5s ease;
    &:hover {
      background-color: $Blue;
      cursor: pointer;
    }
    &-title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-title {
      &-header {
        margin: 0;
        font-size: $Font-size;
        font-weight: 300;
      }
      &-icon {
        width: 1rem;
        height: 0.25rem;
      }
    }
    &-duration {
      margin: 0.75rem 0 0.5rem 0;
      font-size: 2rem;
      font-weight: 300;
    }
    &-status {
      margin: 0;
      font-size: 0.75rem;
      color: $Pale-Blue;
    }
  }
  &-banner-container {
    position: relative;
    height: 50px;
  }
  &-banner {
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    top: 15%;
    z-index: -1;
    display: flex;
    justify-content: end;
    padding: 0.5rem;
    width: 100%;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}
