@import "../../styles/_defaults.scss";

.person-card {
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-color: $Dark-blue;
  border-radius: $border-radius;
  @media (min-width: 1140px) {
    max-width: 200px;
  }

  &-information {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: $border-radius;
    background-color: $Blue;
    padding: $padding;
    @media (min-width: 1140px) {
        flex-direction: column;
        align-items: normal;
        gap: 0;
    }
    &-image-container {
        
      height: 3.5rem;
      display: flex;
      justify-content: left;
      img {
        border: 2px white solid;
        border-radius: 50%;
        height: 100%;
      }
    }
    &-name-container {
        align-self: flex-start;
      margin-top: 2rem;
      p {
        margin: 0;
        font-size: 0.65rem;
        color: $Pale-Blue;
      }
      h1 {
        margin: 0;
        font-weight: 300;
        font-size: 1.75rem;
        word-wrap: break-word;
      }
    }
  }
  &-filters-container {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: $padding;
    background-color: $Dark-blue;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    @media (min-width: 1140px) {
      flex-direction: column;
    }
    button {
      color: white;
      background-color: transparent;
      border: none;
      margin: 0;
      font-size: 1rem;
      font-weight: 400;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &-filters-active {
    color: $Desaturated-blue !important;
  }
}
